{% extends 'base.html.twig' %}
{% block title %}ModifierArticle{% endblock %}
{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Modifier</button>
{{ form_end(form) }}
{% endblock %}
